.Footer {
  display: flex;
}

.Footer > p {
  font-size: 15px;
  margin-left: 5px;
}

.FooterList {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FooterItem {
  margin: 5px 10px;
  font-size: 15px;
  padding: 2px 5px;
}

.FooterItem.active {
  border: 1px solid #bebebe;
}

.ClearCompleteBtn {
  margin-right: 5px;
  text-decoration: underline;
  cursor: pointer;
}
.ClearCompleteBtn.hidden {
  visibility: hidden;
}
