.TodoItem {
    /* font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px; */
    padding: 10px 5px;
    border-bottom: 1px solid #bebebe;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.TodoItem:last-child {
    border: none;
}

.TodoItem > p {
    margin: 0 0 0 15px;
    flex: 1;
}

.TodoItem-complete > p {
    text-decoration: line-through;
    opacity: .3;
}

.TodoItem .RemoveImg {
    opacity: .3;
    cursor: pointer;
}

.TodoItem .RemoveImg:hover {
    opacity: 1;
}