.App {
  width: 500px;
  min-height: 240px;
  margin: 50px auto;
  border: 1px solid #eee;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 100px - 10px);
  overflow: auto;
  position: relative;
}

.App .Title {
  margin-top: 20px;
  text-align: center;
  font-size: 48px;
  font-style: italic;
  color: #da70d6;
  opacity: 0.5;
}

.App .Header {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bebebe;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 100;
}

.App .Header > input {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
  width: 100%;
  border: none;
}
.App .Header > input:focus {
  outline: none;
}

.App .EmptyMessage {
  text-align: center;
}

.App .Container {
  flex: 1;
}

.App .Footer {
  position: sticky;
  bottom: 0px;
  background-color: #fff;
  z-index: 10;
}